name: Install dependencies

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: Install package managers
        run: |
          python -m pip install --upgrade pip poetry
      - name: Configure private package feed
        run: |
          poetry config repositories.privaterepo https://turbinetest.jfrog.io/artifactory/api/pypi/privaterepo/simple
          poetry config http-basic.privaterepo ${{ secrets.PACKAGE_FEED_USER }} ${{ secrets.PACKAGE_FEED_PASSWORD }}
      - name: Install dependencies
        run: |
          poetry install
